<%inherit file="base.html"/>
<%!
    import lazylibrarian
%>
<%def name="headIncludes()">
</%def>
<%def name="body()">
<div>
</div>
</%def>

<%def name="headIncludes()">
</%def>
<%def name="javascriptIncludes()">
    <script type="text/javascript">
    $(document).ready(function()
    {
        var title = '${title}';
        var prefix = window.location.href;
        var pop_message = '${pop_message}';
        var bookid = '${bookid}';
        var pop_types = '${pop_types}';
        var array = pop_types.split(' ');
        var item;
        %if email:
          if ( prefix.indexOf('AudioBook') >= 0 ) {
            var loc = 'send_book?bookid=' + bookid + '&library=AudioBook&booktype=';
            var ret = 'audio'; }
          else {
            var loc = 'send_book?bookid=' + bookid + '&library=eBook&booktype=';
            var ret = 'books'; }
        %else:
          if ( prefix.indexOf('AudioBook') >= 0 ) {
            var loc = 'open_book?bookid=' + bookid + '&library=AudioBook&booktype=';
            var ret = 'audio'; }
          else {
            var loc = 'open_book?bookid=' + bookid + '&library=eBook&booktype=';
            var ret = 'books'; }
        %endif

        var oldURL = document.referrer;
        if  ( oldURL.indexOf('author_page') >= 0 ) {
                var ret = oldURL;
                window.history.pushState({ prevUrl: window.location.href }, null, ret) }

        var buttons = {
                    bt0: {
                        label: "Close",
                        className: 'btn-primary',
                        callback: function(result){ window.location.assign(ret) }
                    },
            }

        for (item of array) {
            % for extn in valid:
                if (item === "${extn}") {
                  buttons[item] = {
                    label: item,
                    className: 'btn-info',
                    callback: function(result){ window.location = loc + "${extn}"; }
                    };
                }
            %endfor
        };

        bootbox.dialog({
            title: title,
            message: '<pre>'+pop_message+'</pre>',
            buttons: buttons
        });
    });

    </script>
</%def>
